@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;


}
html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*Estilo nevegacion*/
.navbar{
    position: fixed;
    padding: 30px 0;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 999;
}

.navbar.sticky {
    padding: 15px 0;
       background: crimson;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color:#fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #fff;

}


.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;

}

.navbar .menu li a:hover{
   color: crimson;
}

.navbar.sticky .menu li a:hover{
    color:#fff;
 }


/*Boton de menu*/

.menu-btn{
    color: #fff;
    font-size: 27px;
    cursor: pointer;
    display: none;
}
 

 /* Estilos del inicio */

.home{
    display: flex;
    background: url("banner.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;


}

.home .max-width{
    margin: auto 0 auto 40px;

}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;

}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}

.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: crimson;
    background: none;
}

/* seccion nosotros estilos */

section{
    padding: 25px 0;
}

.about, .servicios, .skills, .teams, .contact{
    font-family: 'Poppins', sans-serif;
}

.about .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.about .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 280px;
    height: 5px;
    background: #111;
    transform: translateX(-50%);

}
.about .title::after {
    content: "¿Quienes?";
    position: absolute;
    bottom: -35px;
    left: 50%;
    font-size: 15 px;
    color: crimson;
    padding: 9px;
    background: #fff;
    transform: translateX(-50%);

}


.about .about-content, .servicios .ser-content, .skills .skills-content, .contact .contact-content{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;

}

.about .about-content .left{
    width: 45%;

}

.about .about-content .left img{
height: 400px;
width: 400px;
object-fit: cover;
border-radius: 6px;
}

.about .about-content .right{
    width: 55%;

}

.about .about-content .right .text{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 600;

}

.about .about-content .right .text span{
    color: crimson;

}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;

}

/* Estilos seccion servicios  */

.servicios .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.servicios .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 280px;
    height: 5px;
    background:#fff;
    transform: translateX(-50%);

}
.servicios .title::after {
    content: "¿Catalogo?";
    position: absolute;
    bottom: -35px;
    left: 50%;
    font-size: 15 px;
    color: crimson;
    padding: 9px;
    background: #111;
    transform: translateX(-50%);

}

.servicios, .teams{
    background: #111;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.servicios .ser-content .card{
    width: 33%;
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;

}
.servicios .ser-content .card .box{
    transition: all 0.3s ease;


}
.servicios .ser-content .card:hover{
    background: crimson;
    
}
.servicios .ser-content .card:hover i{
    color: #fff;
}

.servicios .ser-content .card:hover .box{
    transform: scale(1.05);
}

.servicios .ser-content .card i{
    font-size: 50px;
    color: crimson;
    padding-bottom: 20px;
    transition: color 0.3s ease;
}

.servicios .ser-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* Estilos de la seccion de habilidades */
.skills .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.skills .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 280px;
    height: 5px;
    background:#111;
    transform: translateX(-50%);

}
.skills .title::after {
    content: "¿Skills?";
    position: absolute;
    bottom: -35px;
    left: 50%;
    font-size: 15 px;
    color: crimson;
    padding: 9px;
    background: #fff;
    transform: translateX(-50%);

}

.skills .skills-content .column{
width: 48%;
font-family: 'Ubuntu', sans-serif;
}

.skills .skills-content .left .text{
    font-size: 25px;
   font-weight: 600;
   margin-bottom: 10px;
   font-family: 'Ubuntu', sans-serif;
}

.skills .skills-content .left p{
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
  
}

.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
  
}
.skills .skills-content .left a:hover{
color: crimson;
background: none;
  
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;

}

.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-weight: 900;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    background:lightgray;
    width: 100%;
    position: relative;

}

.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;

    left: 0;
    top: 0;
    background: crimson;
}

.skills-content .right .html::before{
width: 90%;
}
 .skills-content .right .java::before{
            width: 60%;
            }
            .skills-content .right .python::before{
                width: 70%;
                }
                .skills-content .right .css::before{
                    width: 80%;
                    }
                    .skills-content .right .js::before{
                        width: 60%;
                        }
                        .skills-content .right .cplus::before{
                            width: 90%;
                            }
                            .skills-content .right .php::before{
                                width: 80%;
                                }
                                .skills-content .right .sql::before{
                                    width: 90%;
                                    }

/* estilos equipo */
.teams{
    margin-top: 20px;
}
.teams .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.teams .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 280px;
    height: 5px;
    background:#fff;
    transform: translateX(-50%);

}
.teams .title::after {
    content: "¿Team?";
    position: absolute;
    bottom: -40px;
    left: 50%;
    font-size: 15 px;
    color: crimson;
    padding: 9px;
    background: #111;
    transform: translateX(-50%);

}
.teams .carousel .card{
background: #222;
border-radius: 6px;
padding: 25px 35px;
text-align: center;
transition: all 0.3s ease;

}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover .box{
    transform: scale(1.05);
}

.teams .carousel .card .text{
    font-size: 20px;
    font-weight: 500;
    color:#fff;
    margin: 10px 0 7px 0;
    font-family: 'Ubuntu', sans-serif;

}

.teams .carousel .card img{
width: 150px;
height: 150px;
object-fit: cover;
border-radius: 50%;
border:5px solid crimson ;

}

.teams .carousel .card:hover{
    background: crimson;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,.owl-dot:hover{
    background: crimson!important;

}

/* estilos seccion contacto  */

.contact .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.contact .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 280px;
    height: 5px;
    background:#111;
    transform: translateX(-50%);

}
.contact .title::after {
    content: "¿Escribenos?";
    position: absolute;
    bottom: -34px;
    left: 50%;
    font-size: 7 px;
    color: crimson;
    padding: 9px;
    background: #fff;
    transform: translateX(-50%);

}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .column{
    width: 48%;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .iconos{
    margin: 10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color:crimson;


}
.contact .contact-content .info .head{
    font-weight: 500;
}

.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact  .right form .field,
.contact .right form .fields .field{
    height:60%;
    width: 100%;
    margin-bottom: 15px;

}

.contact  .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins' sans-serif;
}

.contact .right form .textarea textarea{
    padding-top: 10px;
    font-family: 'Poppins' sans-serif;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;

}
.contact .right form .button button{
    height: 100%;
    width: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover{
    background:none;
    color:crimson;
}

/* estilos clientes */

#clientes{
    margin-top: 0;
}

#clientes .title::after {
    content: "¿Proyectos?";
}

/* Estillos para la seccion del footer */
footer{
    font-family: 'Poppins', sans-serif;
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}

footer span a{
    color: crimson;
    text-decoration: none;
}

footer span a:hover{
    color: crimson;
    text-decoration: underline;
}



/* media querys responsive */

@media(max-width:1300){
    .home .max-width {
      margin-left: 0px;
    }
}



@media(max-width:1104){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
     
        }
}

@media(max-width:991){
    .max-width{
        padding: 0 50px;
    }

}
@media(max-width:947px){
    .max-width{

        padding: 0 50px;

    }
    .menu-btn{
        
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #111;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
        border: 2px solid crimson;
    }
    .navbar .menu li{
       display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
      
     }

     .home .home-content .text-2{
        font-size: 70px;
    
    }
    
    .home .home-content .text-3{
        font-size: 35px;
      
    }
    .max-width{
        max-width: 800px;
  
    }
    .about-content .right .text{
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
    }
    .about-content .right a{
        text-align: center;
    }
    .about .about-content .column{
      width:100%;}

    .about .about-content .column .left{
          display: flex;
          justify-content: center;
          margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .servicios .ser-content .card{
        width: 100%;
        margin-bottom: 10px;
    }
    .skills .skills-content .column{
        width: 100%;
        margin-bottom: 25px;

        }
        .contact .contact-content .column{
            width: 95%;
            padding-top: 20px;

          
        }
        
}

@media(max-width:690){
    .max-width{

        padding: 0 50px;

    }
    .menu-btn{
        
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #111;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
        border: 2px solid crimson;
    }
    .navbar .menu li{
       display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
      
     }

     .home .home-content .text-2{
        font-size: 70px;
    
    }
    
    .home .home-content .text-3{
        font-size: 35px;
      
    }
    .max-width{
        max-width: 800px;
  
    }
    .about-content .right .text{
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
    }
    .about-content .right a{
        text-align: center;
    }
    .about .about-content .column{
      width:100%;}

    .about .about-content .column .left{
          display: flex;
          justify-content: center;
          margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .servicios .ser-content .card{
        width: 100%;
        margin-bottom: 10px;
    }
    .skills .skills-content .column
    {
        width: 100%;
        margin-bottom: 25px;

    }

    .contact .contact-content .column{
        width: 95%;
    }
    .contact .contact-content .text{
        padding-top: 20px;
    }



    
}
